* {
    margin: 0;
    padding: 0;
}

.barra_principal {
    display: flex;
    flex-direction: column;
    grid-area: barra;
    height: 100vh;
}

.marca {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #ffee93;
}

body {
    display: grid;
    grid-template-areas: 
    "barra main"
    ;
}

menu a{
    text-decoration: none;
}

menu {
    display: flex;
    flex-direction: column;
    justify-content: star;
    align-items: center;
    width: auto;
    height: 90vh;
    background-color: #ffee93;
    padding: 20px;
}

.Filtro{
    background-color: rgba(75, 73, 73,0.5);
    height: 8vh;
}


.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #a0ced9;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    justify-items: flex-start;
    align-items: center;
    height: 82vh;
    padding: 10px;
    overflow: auto;

}

ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    gap: 15px;
}

li {
    margin-bottom: 10px;
    font-size: large;
    height: 50px;
}

.principal_lista {
    font-size: x-large;
    font-weight: bolder;
}

.imagen_clase{
    width: 19vw;
    height: 26vh;
    border-radius: 20px;
    background-size: contain;
    object-fit: scale-down;
    
}

.card {
    background-color: #ffc09f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
}

.boton-bonito {
    background-color: green; /* Color de fondo */
    width: 50%; 
    height: 30px;
    text-align: center; /* Centrar texto horizontalmente */
    line-height: 50%; /* Centrar texto verticalmente */ 
    border: none; /* Sin borde */
    color: white; /* Color de texto */
    padding: 15px 20px; /* Espacio interno */
    text-decoration: none; /* Sin subrayado */
    font-size: 14px; /* Tamaño de fuente */
    margin: 2px 2px; /* Márgenes */
    cursor: pointer; /* Cambiar cursor al pasar por encima */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: background-color 0.3s ease; /* Transición suave */
}

.boton-bonito:hover {
    background-color: #adf7b6; /* Cambiar color de fondo al pasar por encima */
}

.redes_sociales{
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.texto_footer{
    display: flex;
    padding: 5px;
}

.lista_opciones {
    width: 70vw;
}

.contenedor_paginacion{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.rectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 10px;
    /*border: 2px solid #ccc;*/
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin: 0 5px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.arrow {
    font-size: 24px;
    color: #007bff;
}

.contenedor_main {
    display: flex;
    flex-direction: column;
}

footer{
    display: none;
}

/*VERSION MOBILE*/

@media (max-width:576px) {
    body {
        display: grid;
        grid-template-areas: 
        "barra" 
        "main"
        "footer"
        ;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        justify-items: flex-start;
        align-items: center;
        padding: 10px;
        overflow: scroll;
        width: 100vw;
    
    }

    .barra_principal {
        grid-area: barra;
        height: 20%;
    }

    menu {
        display: none;
    }

    main {
        display: grid;
        grid-area: main;
    }

    footer{
        display: grid;
        grid-area: footer;
        position: sticky;
    }

    .imagen_clase{
        width: 95vw;
        height: 28vh;
        border-radius: 20px;
        /*background-size: contain;*/
        object-fit: scale-down;
    }
    
    .card {
        background-color: #ffc09f;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        width: 90vw;

    }
    
    .boton-bonito {
        background-color: green; /* Color de fondo */
        width: 50%; 
        height: 30px;
        text-align: center; /* Centrar texto horizontalmente */
        line-height: 50%; /* Centrar texto verticalmente */ 
        border: none; /* Sin borde */
        color: white; /* Color de texto */
        padding: 15px 20px; /* Espacio interno */
        text-decoration: none; /* Sin subrayado */
        font-size: 14px; /* Tamaño de fuente */
        margin: 2px 2px; /* Márgenes */
        cursor: pointer; /* Cambiar cursor al pasar por encima */
        border-radius: 8px; /* Bordes redondeados */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
        transition: background-color 0.3s ease; /* Transición suave */
    }
    
    .boton-bonito:hover {
        background-color: #adf7b6; /* Cambiar color de fondo al pasar por encima */
    }

    section{
        display: none;
    }

    .Filtro{
        background-color: rgba(75, 73, 73,0.5);
        height: 5vh;
        display: flex;
        flex-direction: column;
    }

    .lista_opciones {
        width: 90vw;
    }

    h2 {
        font-size: medium;
    }
}